.App {
  text-align: center;
  display: block;
}

ul {
  list-style-type: none;
  padding-inline-start: 0%;
  display: inline-table;
  width:60%;
}


li {
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  background-color: lightgrey;
}
.form {
  display: inline-flex;
}


.add-button {
  margin: auto;
  padding: 10px;
  width: 80px;
  background-color: lightgray;
  font-size: 18px;
}

.delete-button {
  position: absolute; 
  right: 300px;  
}

textarea {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
