.App {
  text-align: center;
  display: grid;
}

.container {
  
}

.list-container {
  display: inline-grid;
  width: 100%;
  
  list-style-type: none;
  padding-inline-start: 0%;
}


li {
  display: grid;
  grid-template-columns: 3fr 0.2fr 0.1fr;
  column-gap: 5px;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  background-color: lightgrey;
}
.form {
}


.add-button {
  margin: auto;
  padding: 10px;
  width: 80px;
  background-color: lightgray;
  font-size: 18px;
}

 .delete-button {
   padding: 5px;
} 

.text-input {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

@media only screen and (min-width : 480px) {

  .list-container {
    display: inline-grid;
    width: 60%;
    list-style-type: none;
    padding-inline-start: 0%;
  }

}
