.App {
  text-align: center;
  display: grid;
}


.list-container {
  display: inline-grid;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0%;
}


li {
  display: grid;
  grid-template-columns: 3fr 0.2fr 0.1fr;
  column-gap: 5px;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  background-color: lightgrey;
}

.add-button {
  padding: 5px;
  margin: 1px;
  display: inline-block;
  width: 80px;
  border-radius: 1px;
  font-size: 12px;
  cursor: pointer;
}

 .delete-button {
   padding: 5px;
   cursor: pointer;
} 

.edit-button {
  padding: 5px;
  cursor: pointer;
} 
.text-input {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

@media only screen and (min-width : 480px) {

  .list-container {
    display: inline-grid;
    width: 60%;
    list-style-type: none;
    padding-inline-start: 0%;
  }

}
